.relative {
  position: relative;
}
.ftVideoPlayer {
  width:100%;
}

.tmJskDashBoard{
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  opacity:0.4;
  z-index: 99;
}

.tmJskSpeedGauge {
  top:680px;
  left:1580px;
  height:300px;
  width: 300px;
  background-color: rgba(0,0,0,0.0);
}
.svgSpeedValueText{
  position: fixed;
  color: green;
  margin: 0px;
  width: auto;
  height: 50px;
  font-size: 50px;

  top:880px;
  left:1680px;

  background-color: rgba(0,0,0,0.0);
  z-index: -1;
}
.svgSpeedKPH{
  top:920px;
  left:1620px;
}
.tmJskInclineGauge {
  top:680px;
  left:50px;
  height:300px;
  width: 300px;
  background-color: rgba(0,0,0,0.0);
}
.svgInclineValueText{
  position: fixed;
  color: yellow;
  margin: 0px;
  width: auto;
  height: 50px;
  font-size: 50px;

  top:880px;
  left:145px;

  background-color: rgba(0,0,0,0.0);
  z-index: -1;
}
.tmJskButton {
  position: fixed;
  top:50px;
  left:1700px;
  height:440px;
  width: 110px;
  opacity:0.4;
}
.tmJskSetSpeed{
  position: fixed;
  color: #fff;
  margin: 10px;
  width: auto;
  hight: 40px;
  font-size: 50px;

  top:350px;
  left:50px;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}

.tmJskOutSpeed{
  position: fixed;
  color: #fff;
  margin: 10px;
  width: auto;
  hight: 40px;
  font-size: 50px;

  top:400px;
  left:50px;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}

.tmJskSetTime{
  position: fixed;
  color: #fff;
  margin: 10px;
  width: auto;
  hight: 40px;
  font-size: 50px;

  top:450px;
  left:50px;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;
}
.tmJskStopWatch{
  position: fixed;
  color: #fff;
  margin: 10px;
  width: auto;
  height: 100px;
  font-size: 100px;
  top:300px;
  left:700px;
}

.tmJskMessage{
  color: #fff;
  margin: 10px;
  width: auto;
  height: 40px;
  font-size: 30px;
  top:200px;
  left:700px;
}

