.relative {
  position: relative;
}
.ftVideoPlayer {
  width:100%;
}

.tmJskDashBoard{
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  opacity:0.3;
  z-index: 99;
}
.tmJskSpeedGauge {
  top:680px;
  left:1580px;
  height:300px;
  width: 300px;
  background-color: rgba(0,0,0,0.0);
}
.tmJskInclineGauge {
  top:680px;
  left:50px;
  height:300px;
  width: 300px;
  background-color: rgba(0,0,0,0.0);
}
.tmJskButton {
  position: fixed;
  top:50px;
  left:1700px;
  height:400px;
  width: 80px;
  opacity:0.4;
}
.tmJskStopWatch{
  position: fixed;
  color: #fff;
  margin: 10px;
  width: auto;
  hight: 100px;
  font-size: 100px;
  top:300px;
  left:700px;
}
.tmJskMessage{
    color: #fff;
    margin: 10px;
    width: auto;
    hight: 40px;
    font-size: 30px;
    top:200px;
    left:700px;
  }
  